.amination-main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
  overflow: hidden;
}

.background-image {
  width: 50%;
  transition: 0.5s;
  height: 60vh;
  object-fit: cover;
}
.background-image:hover {
  width: 82%;
  height: 60vh;
  object-fit: cover; 
}
